version: '3.7'
services:
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: sync
      MYSQL_ROOT_PASSWORD: 12345678
    volumes:
      - ./docker/db/mysql/data:/var/lib/mysql
      - ./docker/db/mysql/log:/var/log
    ports:
      - "33063:3306"
  pg:
    image: postgres:13
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: sync_hiber
    ports:
      - "54321:5432"
